<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Почта</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>

<nav>
  <ul>
    <li class="dropdown">
      <img class="icon" src="{{ url_for('static', filename='icon.png') }}" width="64" alt="Icon">
      <div class="dropdown-content">
        <a href="/login">Выход</a>
        <a href="/account">Аккаунт</a>
      </div>
    </li>
  </ul>
</nav>

<div class="main">
    <div class="column">
        <ul>
            <li>
                <a href="/letter">
                <div class="checked_mail">
                    <ul>
                        <li>Type: Application</li>
                        <li>Сountry of departure: Moscow</li>
                        <li>Country of arrival: Paris</li>
                        <li>Departure date - Arrival date: 03.04.2025 - 05.04.20025</li>
                        <li>Customer name: Vladimir</li>
                        <li>Text: Hello, I want to buy a tickets from Moscow to Paris...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
            <li>
                <a href="/letter">
                <div class="checked_mail">
                    <ul>
                        <li>Type: Application</li>
                        <li>Сountry of departure: Moscow</li>
                        <li>Country of arrival: Paris</li>
                        <li>Departure date - Arrival date: 03.04.2025 - 05.04.20025</li>
                        <li>Customer name: Vladimir</li>
                        <li>Text: Hello, I want to buy a tickets from Moscow to Paris...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
            <li>
                <a href="letter.html">
                <div class="checked_mail">
                    <ul>
                        <li>Type: Application</li>
                        <li>Сountry of departure: Moscow</li>
                        <li>Country of arrival: Paris</li>
                        <li>Departure date - Arrival date: 03.04.2025 - 05.04.20025</li>
                        <li>Customer name: Vladimir</li>
                        <li>Text: Hello, I want to buy a tickets from Moscow to Paris...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
            <li>
                <a href="letter.html">
                <div class="not_checked_mail">
                    <ul>
                        <li>Type: Application</li>
                        <li>Сountry of departure: Moscow</li>
                        <li>Country of arrival: Paris</li>
                        <li>Departure date - Arrival date: 03.04.2025 - 05.04.20025</li>
                        <li>Customer name: Vladimir</li>
                        <li>Text: Hello, I want to buy a tickets from Moscow to Paris...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
            <li>
                <a href="letter.html">
                <div class="not_checked_mail">
                    <ul>
                        <li>Type: Application</li>
                        <li>Сountry of departure: Moscow</li>
                        <li>Country of arrival: Paris</li>
                        <li>Departure date - Arrival date: 03.04.2025 - 05.04.20025</li>
                        <li>Customer name: Vladimir</li>
                        <li>Text: Hello, I want to buy a tickets from Moscow to Paris...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li>
                <a href="/letter">
                <div class="checked_mail">
                    <ul>
                        <li>Type: Not application</li>
                        <li>Text: Hello, I want to know how...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
            <li>
                <a href="/letter">
                <div class="checked_mail">
                    <ul>
                        <li>Type: Not application</li>
                        <li>Text: Hello, I want to know how...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
            <li>
                <a href="letter.html">
                <div class="not_checked_mail">
                    <ul>
                        <li>Type: Not application</li>
                        <li>Text: Hello, I want to know how...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
            <li>
                <a href="letter.html">
                <div class="not_checked_mail">
                    <ul>
                        <li>Type: Not application</li>
                        <li>Text: Good day! My name is Grigoriy and I love travel. I have some commercial deals...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
            <li>
                <a href="letter.html">
                <div class="not_checked_mail">
                    <ul>
                        <li>Type: Not application</li>
                        <li>Text: Good day! My name is Grigoriy and I love travel. I have some commercial deals...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
            <li>
                <a href="letter.html">
                <div class="not_checked_mail">
                    <ul>
                        <li>Type: Not application</li>
                        <li>Text: Good day! My name is Grigoriy and I love travel. I have some commercial deals...</li>
                        <div class="mail_info">
                            <p>14:53 / 02.04.2025 / Monday</p>
                        </div>
                    </ul>
                </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
